@font-face {
  font-family: 'Minecraft ';
  src: url('/font/MinecraftBold-nMK1.otf');
  font-weight: bold;
  font-style: bold;
}
@font-face{
  font-family: 'Minecraft';
  src: url('/font/MinecraftBoldItalic-1y1e.otf');
  font-weight: bold;
  font-style: italic;
}
@font-face{
  font-family: 'Minecraft';
  src: url('/font/MinecraftItalic-R8Mo.otf');
  font-weight: normal;
  font-style: italic;
}
@font-face{
  font-family: 'Minecraft';
  src: url('/font/MinecraftRegular-Bmg3.otf');
  font-weight: normal;
  font-style: normal;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    background: rgb(56,1,49);
    background: linear-gradient(0deg, rgba(56,1,49,1) 20%, rgba(246,138,177,1) 100%);
    background-repeat: no-repeat;
    font-family:'Minecraft';
    color: aliceblue;
  }
  h1{
    text-align: center;
  }
  main{
    
    margin: 3rem auto;
    
  }
  @media (min-width: 758px) {
      main{
        justify-content: center;
        display: flex;
        align-items: center;
        height: 100vh;
      }
  }

  .seccion1{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    
  }
  

  table{
    width: 100%;
    
  }

  button{
    width: 9rem;
    font-family: 'Minecraft';
    height: 10rem;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    border-radius: 0;
  }
  button:hover{
    cursor: pointer;
    
  }
  /*Desktop*/
  @media (min-width: 758px) {
      button{
        width: 10rem;
      }
  }
  /*360px*/
  @media (min-width:360px ) {
      button{
        width: 7.5rem;
      }
  }
  /*384px*/
  @media (min-width:384px ) {
    button{
      width: 8rem;
    }
  }
  hr{
    border: none;
  }
  .seccion2{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2rem;
    
  }

  @media (min-width: 758px) {
      .seccion2{
        width: 25rem;
        height: 40rem;
        
      }
  }

  .estadisticas{
    border: .1rem solid white;
    height: 10.5rem;
    padding: .8rem 2rem;
  }

  footer{
    text-align: center;
  }
  